* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*Home page picture & Jumbotron*/
#homePage {
    /*background-image: url('../img/home.jpg');/*Photo by Startup Stock Photos from Pexels*/
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding-top: 0;
}

.homepage-container {
    position: relative;
    margin-bottom: 0;
}

.homepage-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-item {
    min-height: 300px;
    overflow: hidden;
}

.carousel-item-images {
    max-height: 600px;
}

@media only screen and (max-width: 680px) {
    .carousel-item {
        min-height: 575px;
    }

    .carousel-image {
        width: 225%!important;
        height: auto;
    }
}

@media only screen and (max-width: 767px) {
    #homePage {
        /* The file size of this background image is 93% smaller
            to improve page load speed on mobile internet connections */
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.jumbotron {
    background-color: #fff;
}

/*Blue header type*/
.display-4 {
    font-weight: 300; /*for home page*/
    color: #34CCE3;
    background-color: rgba(36, 36, 36, 0.692);
    text-align: center;
    padding: 0 20px;
}

/*green rule line on header*/
.display-4::after {
    content: '';
    background: #49c41b;
    height: 3px;
    width: 40%;
    display: block;
    left: -2.5em;
}

/*Blue header type blog page*/
.display-5 {
    color: #34CCE3;
    text-align: left;
}

/*Black header type*/
.display-3 {
    color: black;
}

@media only screen and (max-width: 768px) {
    .display-3 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    .contact-header{
        font-size: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    .header-1__mobile {
        font-size: 2rem;
        text-align: center;
    }
}

/*Blue header dots - span class on contact page*/
.design-dots {
    color: #34CCE3;
}

.h1Plus {
    font-size: 2.5rem;
}

/*text paragraph under home page header*/
.lead {
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-size: 25px;
    line-height: 1.2;
    background-color: rgba(36, 36, 36, 0.692);
}

.homepage-learn-button {
    color: white;
    text-align: center;
}

/*carousel testing*/
.overlayHome {
    color: #fff;
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 0;
    width: 60%;
    text-align: center;
}

@media only screen and (max-width: 680px) {
    .display-4 {
        font-size: xx-large;
        font-weight: 300; /*for home page*/
        color: #34CCE3;
        background-color: rgba(36, 36, 36, 0.692);
        text-align: center;
        padding: unset;
    }

    .display-4::after {
        content: '';
        background: #49c41b;
        height: 3px;
        width: 40%;
        display: block;
        left: -2.5em;
    }

    .homepage-text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .lead {
        color: white;
        text-align: center;
        padding: 10px 10px;
        font-size: 20px;
        line-height: 1.2;
    }

    .homepage-learn-button {
        color: white;
        text-align: center;
    }
}

/*"Learn more" button styling*/
.btn {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #49c41b;
    border-color: #49c41b;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

/*Green button styling*/
.btn:hover {
    background: white;
    color: gray;
    border-color: #49c41b;
}

.btn:active {
    background: white;
    color: gray;
    border-color: #49c41b;
}

/*Green button throughout site*/
.btn .btn-primary:hover {
    background: white;
    color: gray;
    border-color: #49c41b;
}

.carousel-item .img-fluid {
    width: 100%;
    height: 100%;
}

.carousel-indicators > li {
    background-color: #9bec7e;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #49c41b;
}

.testimonial {
    min-height: 130px;
    font-size: 16px;
    margin: 0 auto;
    quotes: "\201C" "\201D" "\2018" "\2019";
    padding: 10px 20px;
    line-height: 1.4;
}

.testimonial::before {
    font-family: 'Times New Roman', Times, serif;
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -5px;
    position: relative;
    top: 20px;
    color: #34CCE3;
    font-size: 3em;
}

.testimonial::after {
    font-family: 'Times New Roman', Times, serif;
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 5px;
    position: relative;
    top: 20px;
    color: #34CCE3;
    font-size: 3em;
}

/*testimonial peoples' names & position before*/
footer {
    padding: 0 0 100px 20px;
    text-align: left;
    font-size: 0.9em;
}

/*green ruled line above 2 women picture*/
.divider-left {
    background-color: #49e41b;
    height: 3px;
    width: 60px; /*changed from 515px*/
    display: block;
    left: -2.5em;
}

.divider-right {
    background-color: #49e41b;
    height: 3px;
    width: 515px;
    display: block;
    right: -2.5em;
}

/*blue dots under picture*/
.pict {
    font-size: 100px;
    color: #34CCE3;
    text-align: right;
    padding: 0;
}

/*cards on home page*/
.cards h1 {
    font-size: 20px;
    font-weight: bold;
}

.cards h4 {
    font-size: 16px;
    font-weight: bold;
}

#cards img {
    margin-top: -10px;
}

#cards p {
    font-weight: 400;
}

#cards .card {
    border-radius: 0;
    box-shadow: 5px 5px 5px #90929E;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    height: 650px;
    margin: 10px 0;
}

#cards .button {
    padding-bottom: 10px;
}

.card-buttons {
    position: absolute;
    bottom: 20px;
    right: 30px;
    left: 30px;
}

#cards .card:hover {
    transform: scale(1.025);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(58, 149, 163);
}

/*Blue dots throughout site*/
.blueDots {
    color: #34CCE3;
    font-size: 30px;
}

.blueDots-jpg {
    max-height: 30px;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    min-height: 200px;
}

.row-5 {
    min-height: 100px;
}

.short-row {
    min-height: 100px;
}

.body-text {
    padding-right: 20px;
    font-weight: normal;
}

@media only screen and (max-width: 768px) {
    .flex-container__column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/* NEW gray lines (with circle icons at ends) in strategies page above 4 strategies*/
.grayLineCulture {
    background-color: #90929E;
    height: 2px;
    display: block;
    width: 70%;
    margin-bottom: 35px;
}

.grayLineCommunication {
    background-color: #90929E;
    height: 2px;
    display: block;
    width: 70%;
    margin-bottom: 35px;
}

.grayLineDevelopment {
    background-color: #90929E;
    height: 2px;
    display: block;
    width: 70%;
    margin-bottom: 35px;
}

.grayLineCompliance {
    background-color: #90929E;
    height: 2px;
    display: block;
    width: 70%;
    margin-bottom: 35px;
}

/*blue circle at end of green line with icon*/
.grayLineCulture:after {
    background: url('../img/cards-icon_culture.png') no-repeat top right;
    content: "";
    display: block;
    height: 75px; /* height of the circle */
    position: relative;
    top: -36px; /* half the height of the circle */
    border: 0;
}

.grayLineCommunication:after {
    background: url('../img/cards-icon_communication.png') no-repeat top right;
    content: "";
    display: block;
    height: 75px; /* height of the circle */
    position: relative;
    top: -36px; /* half the height of the circle */
    border: 0;
}

.grayLineDevelopment:after {
    background: url('../img/cards-icon_development.png') no-repeat top right;
    content: "";
    display: block;
    height: 75px; /* height of the circle */
    position: relative;
    top: -36px; /* half the height of the circle */
    border: 0;
}

.grayLineCompliance:after {
    background: url('../img/cards-icon_compliance.png') no-repeat top right;
    content: "";
    display: block;
    height: 75px; /* height of the circle */
    position: relative;
    top: -36px; /* half the height of the circle */
    border: 0;
}

/*Strategies page:green line above 4 strategies*/
.greenLine {
    background-color: #90929E;
    height: 2px;
    display: block;
    width: 70%;
    margin-bottom: 35px;
}

/* controls image placement above style items (green lines and blue rectangle) */
#strategiesImage {
    z-index: 3;
    float: left;
    width: 66%;
    margin-right: -100%;
    position: relative;
    margin-left: 25%;
    margin-top: 10%;
}

/* controls placement of blue rectangle behind strategies images - top corner */
#blueRectangle-strategies-img-top {
    z-index: 2;
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
}

/* controls placement of blue rectangle behind strategies images - bottom corner */
#blueRectangle-strategies-img-bottom {
    z-index: 2;
    position: relative;
    width: 70%;
    margin-left: 30%;
    margin-top: 25%;
}

/* controls placement of green lines block behind all strategies images */
#greenLines-strategies-img {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 10%;
}

/* Green line under strategies headers */
.greenLine2 {
    background-color: #49e41b;
    height: 2px;
    display: block;
    width: 30%;
}

.greenLine3 {
    background-color: #49e41b;
    height: 3px;
    display: block;
    width: 40%;
    z-index: 99;
}

.greenLine4 {
    background-color: #49e41b;
    height: 5px;
    display: block;
    width: 75%;
    z-index: 99;
}

@media only screen and (max-width: 768px) {
    .greenLine4 {
        position: relative;

        width: 55%;
        height: 3px;
    }
}

/* white line: can be used as an alternative to the greenLine*/
.whiteLine {
    background-color: white;
    height: 5px;
    display: block;
    width: 40%;
    z-index: 99;
}

.dots:after {
    background: url('../img/blueDots.png') no-repeat left;
    content: "";
    display: block;
    height: 60px;
    position: relative;
    border: 0;
}

#mySidenav a {
    position: fixed;
    left: -140px;
    z-index: 999;
    transition: 0.3s;
    padding: 5px;
    width: 190px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.29);
    margin-top: 90px;
}

#mySidenav a:hover {
    left: 0;
}

#culture {
    top: 20px;
    background: #49e41b url(../img/strategies-navIcon_culture.png);
    background-position: right;
    background-size: 33px;
    background-repeat: no-repeat;
}

#communication {
    top: 70px;
    background: #49e41b url(../img/strategies-navIcon_communication.png);
    background-position: right;
    background-size: 33px;
    background-repeat: no-repeat;
}

#development {
    top: 120px;
    background: #49e41b url(../img/strategies-navIcon_development.png);
    background-position: right;
    background-size: 33px;
    background-repeat: no-repeat;
}

#compliance {
    top: 170px;
    background: #49e41b url(../img/strategies-navIcon_compliance.png);
    background-position: right;
    background-size: 33px;
    background-repeat: no-repeat;
}

/*gets rid of pop-out side navigation on strategies page when screen size is smaller*/
@media (max-width: 768px) {
    #mySidenav {
        display: none;
    }
}

.lead-2 {
}

/*Events page blue background*/
.testBkgd {
    background-color: rgba(52, 204, 227, 0.486);
    padding: 15px;
}

/*border around text in partnership page*/
.borderBlue {
    /*background-color:#34CCE3;*/
    /*border-color: #34CCE3;*/
    border-color: #49e41b;
    border-style: solid;
    padding: 15px;
    border-width: 4px;
}

.blueLine {
    color: #34CCE3;
    height: 5px;
}

/*calendar icon on Events page*/
.event::before {
    background: url('../img/calendar.png') no-repeat;
    content: "";
    display: block;
    position: relative;
    border: 0;
}

/*White dots on Events page*/
.whiteDots {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Jumbotron display title on Events page*/
#events {
    font-size: 2.5em;
    font-weight: 700;
}

/*span class on required fields, contact page*/
.required {
    color: red;
}

.circle-img {
    border-radius: 50%;
    border: 10px solid #34CCE3;
    max-width: 300px;
}

@media only screen and (max-width: 768px) {
    .circle-img {
        border: 7px solid #34CCE3;
        max-width: 200px;
        order: 0!important;
    }
}

.circle-image-container {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column!important;
}

@media only screen and (max-width: 768px) {
    .text-container {
        margin: 5px 15px;
    }
}

@media only screen and (max-width: 768px) {
    .text-container{
        order: 1;
        margin: unset;
    }
}

    .logo {
    max-width: 125px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container-overlay:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .text-center__mobile {
        text-align: center;
    }
}

/*Partnership Page: taking bullets off of the lists*/
ul.noStyle {
    list-style-type: none;
    margin: 3px;
    padding: 3px;
}

.dottedBlueLine {
    border-top: 3px dotted #34CCE3;
}

.help-block.with-errors {
    color: red;
}


.page-footer .social-icons a {
    color: black;
    background-color: #49c41b;
}

.navheaderWidth {
    min-width: 100%;
    padding: 0;
}

/* All lettering that is to be Blue Ivy Blue */
.gbiBlue {
    color: #34CCE3;
}

.marginTop400 {
    margin: 22% 0 0 0;
}

.card-image__container {
    display: flex;
    justify-content: center;
}

.card-image {
    height: auto;
    max-width: 200px;
    overflow: hidden;
    margin-bottom: 15px;
}

#resourcesPage {
    background-image: url(../img/resources-header-toolrack.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.high100 {
    height: 100px;
}