*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*Home page picture & Jumbotron*/
#homePage {
    background-image: url('../img/home.jpg');
    height: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    background-color: #fff;
}

/*.opacity {
    background-color: rgba(36, 36, 36, 0.692);
}*/

/*Blue header type*/
.display-4 {
    font-weight: 300;/*for home page*/
    color:#34CCE3;
    background-color: rgba(36, 36, 36, 0.692);
    text-align: center;
    padding: 0px 20px;
}

/*green rule line on header*/
.display-4::after {
    content:'';
    background: #49c41b;
    height: 3px;
    width: 515px;
    display: block;   
    left: -2.5em; 
}

/*Blue header type blog page*/
.display-5 {
    color:#34CCE3;
    text-align: left; 
}

/*Black header type*/
.display-3 {
    color: black;
}

/*Blue header dots - span class on contact page*/
.design-dots {
    color:#34CCE3;
}

/*green rule line header*/
/*h1::after {
    content:'';
    background: #49c41b;
    height: 3px;
    width: 515px;
    display: block;   
    left: -2.5em; 
}*/

.h1Plus {
    font-size: 2.5rem;
}

/*text paragraph under home page header*/
.lead{
    color: white;
    background-color: rgba(36, 36, 36, 0.692);
    text-align: center;
    padding: 20px 20px;
    font-size: 25px;
    line-height: 1.2;
}

.test{
    color: white;
    text-align: center;
}

/* .centered {  - To center if needed. I think this is not in use
    margin-left: auto;
    margin-right: auto;
} */

/*"Learn more" button styling*/
.btn {
    font-size: 18px;
    text-decoration: none;
    color:#fff;
    background-color: #49c41b;
    border-color: #49c41b;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top:20px;
}

/*Green button styling*/
.btn:hover{
    background: white;
    border-color: white;
    color:gray;
    border-color:#49c41b ;
}

.btn:active{
    background: white;
    border-color: white;
    color:gray;
    border-color:#49c41b;
}

/*Green button throughout site*/
.btn .btn-primary:hover{
    background: white;
    border-color: white;
    color:gray;
    border-color:#49c41b;
}

/*Testimonial Carousel*/
.carousel-inner{
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.testimonial {
    padding-top: 5em;
    min-height: 100px;
}

.carousel-indicators > li {
    background-color: rgb(106, 231, 250);
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #34CCE3;
}

.testimonial {
    font-size: 16px;
    margin: 0 auto;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 10px 20px;
    line-height: 1.4;
}

.testimonial::before {
    font-family: 'Times New Roman', Times, serif;
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #34CCE3;
    font-size: 4em;
}

.testimonial::after {
    font-family: 'Times New Roman', Times, serif;
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 35px;
    color: #34CCE3;
    font-size: 3em;
}

/*testimonial peoples' names & position before*/
footer {
    font-size: 16px;
    padding:0px 0px 100px 20px;
    text-align: left;
    font-size: .9em;
}

/*green ruled line above 2 women picture*/
.divider-left {
    background-color: #49e41b;
    height: 3px;
    width: 515px;
    display: block;   
    left: -2.5em; 
}

.divider-right {
    background-color: #49e41b;
    height: 3px;
    width: 515px;
    display: block;   
    right: -2.5em; 
}

/*blue dots under picture*/
.pict {
    font-size: 100px;
    color: #34CCE3;
    text-align: right;
    padding: 0px;
}

/*cards on home page*/
.cards h1 {
    font-size: 20px;
    font-weight: bold;
}

.cards h4 {
    font-size: 16px;
    font-weight: bold;
}

#cards img {
    margin-top: -50px;
}

#cards p {
    font-weight: 400;
}

#cards .card{
    border-radius: 0;
    box-shadow: 5px 5px 5px #90929E;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    height: 100%;
}

#cards .button {
    padding-bottom: 10px;
}

#cards .card:hover{
    transform: scale(1.025);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(58, 149, 163);
}

/*Blue dots throughout site*/
.blueDots {
    color: #34CCE3;
    font-size: 30px;
}

.blueDots-jpg {
    max-height: 30px;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    min-height: 200px;
}

.row-5 {
    min-height: 100px;
}

.short-row {
    min-height: 100px;
}

.body-text{
    padding-right: 20px;
    font-weight: normal;
}

/* NEW gray lines (with circle icons at ends) in strategies page above 4 strategies*/
.grayLineCulture {
    background-color:#90929E;
    height: 2px;
    display: block;   
    width: 70%;
    margin-bottom: 35px;
}

.grayLineCommunication {
    background-color:#90929E;
    height: 2px;
    display: block;   
    width: 70%;
    margin-bottom: 35px;
}

.grayLineDevelopment {
    background-color:#90929E;
    height: 2px;
    display: block;   
    width: 70%;
    margin-bottom: 35px;
}

.grayLineCompliance {
    background-color:#90929E;
    height: 2px;
    display: block;   
    width: 70%;
    margin-bottom: 35px;
}

/*blue circle at end of green line OLD
.greenLine:after { 
    background: url('../img/blueCircleOutline2.png') no-repeat top right;
    content: "";
    display: block;
    height: 75px; /* height of the circle 
    position: relative;
    top: -36px; /* half the height of the circle 
    border: 0;
}*/

/*blue circle at end of green line with icon*/
.grayLineCulture:after { 
    background: url('../img/cultureIcon5.png') no-repeat top right;
    content: "";
    display: block;
    height: 75px; /* height of the circle */
    position: relative;
    top: -36px; /* half the height of the circle */
    border: 0;
}

.grayLineCommunication:after { 
    background: url('../img/communication4.png') no-repeat top right;
    content: "";
    display: block;
    height: 75px; /* height of the circle */
    position: relative;
    top: -36px; /* half the height of the circle */
    border: 0;
}

.grayLineDevelopment:after { 
    background: url('../img/developmentIcon.png') no-repeat top right;
    content: "";
    display: block;
    height: 75px; /* height of the circle */
    position: relative;
    top: -36px; /* half the height of the circle */
    border: 0;
}

.grayLineCompliance:after { 
    background: url('../img/complianceIcon2.png') no-repeat top right;
    content: "";
    display: block;
    height: 75px; /* height of the circle */
    position: relative;
    top: -36px; /* half the height of the circle */
    border: 0;
}

/*green line in stratetgies page above 4 strategies*/
.greenLine  {
    background-color:#90929E;
    height: 2px;
    display: block;   
    width: 70%;
    margin-bottom: 35px;
}

/*blue circle at end of green line#*/
.greenLine:after { 
    background: url('../img/blueCircleOutline2.png') no-repeat top right;
    content: "";
    display: block;
    height: 75px; /* height of the circle */
    position: relative;
    top: -36px; /* half the height of the circle */
    border: 0;
}

.greenLine2 {
    background-color: #49e41b;
    height: 2px;
    display: block;
    width: 30%;

}

.greenLine3 {
    background-color: #49e41b;
    height: 3px;
    display: block;
    width: 40%;
    z-index: 99;

}

.dots:after {
    background: url('../img/blueDots.png') no-repeat left;
    content:"";
    display: block;
    height: 60px;
    position: relative;
    border: 0px;
}

#mySidenav a {
    position: fixed;
    left: -140px;
    z-index: 999;
    transition: 0.3s;
    padding: 5px;
    width: 190px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    border-radius: 0 20px 20px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
}

#mySidenav a:hover {
    left: 0;
    }
    
    #culture {
        top: 20px;
        background: #49e41b url(../img/cultureIconBlack2.png);
        background-position: right;
        background-size: 33px;
        background-repeat: no-repeat;
        }
        
        #communication {
        top: 70px;
        background: #49e41b url(../img/communicationIconBlack3.png);
        background-position: right;
        background-size: 33px;
        background-repeat: no-repeat;
        }
        
        #development {
        top: 120px;
        background: #49e41b url(../img/developmentIconBlack.png);
        background-position: right;
        background-size: 33px;
        background-repeat: no-repeat;
        }
        
        #compliance {
        top: 170px;
        background: #49e41b url(../img/complianceIconBlack.png);
        background-position: right;
        background-size: 33px;
        background-repeat: no-repeat;
        }

/*gets rid of pop-out side navigation on strategies page when screen size is smaller*/
@media (max-width: 768px) {
    #mySidenav {
        display: none;
    }
}

.lead-2 {
}

/*Events page blue background*/
.testBkgd{
    background-color:#34CCE3;
}

/*.testBkgd::before{
    background: url('../img/whiteDots2.png') no-repeat;
    content:"";
    display: block;
    position: relative;
    border: 0px;
}*/

/*calendar icon on Events page*/
.event::before{
    background: url('../img/calendar.png') no-repeat;
    content:"";
    display: block;
    position: relative;
    border: 0px;
}

/*Jumbotron display title on Events page*/
#events{
    font-size: 2em;
    color: #34CCE3;
    font-size: 3em;
    font-weight: 700;
}

/*span class on required fields, contact page*/
.required {
    color: red;
}

.about-img {
    border-radius: 50%;
    border: 15px solid #34CCE3;
    max-width: 300px;
}

.logo {
    max-width: 125px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    }

.container-overlay:hover .overlay {
    opacity: 1;
}
    
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.high100 {
    height: 100px;
}

.picx {
    height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pic1 {
    background-image: url('../img/culture3.jpg');
}

.pic2 {
    
    background-image: url('../img/revolvingdoor.jpg');
}

.pic3 {
    background-image: url('../img/workbrainscover.jpg');
}